[dir] {
  margin: 0;
  background-color: $body-bg;
}

[dir="rtl"] {
  text-align: right;
  font-family: 'Assistant', sans-serif;

  .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6,
  .btn,
  .tooltip,
  .popover,
  .text-monospace,
  .btn,label,legend,thead th,
  .font-weight-bold,b,strong,
  .nav-active > span > .title {
    font-family: 'Assistant', sans-serif;
  }

  .nav-item > span > .title {
    font-family: 'Assistant', sans-serif !important;
  }

  .popover,
  ul.vs__dropdown-menu,
  .dropdown-menu {
    right: auto !important;
  }

  .vs__dropdown-toggle {
    flex-direction: row-reverse;

    input {
      text-align: right;
    }
  }

  .vs__selected-options {
    flex-direction: row-reverse;
  }

  .vs__clear {
    margin: 0 5px;
  }

  .fa-angle-left,
  .fa-angle-right {
    transform: rotate(180deg);
  }

  .Chart {
    direction: ltr;
  }
}
